{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@": "./resources/",
                    "~": "./resources/js"
                }
            }
        ]
    ]
}
